/* Common Style */

.header {
  padding: 36px 0px;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  /* position: fixed; */
  width: 100%;
  min-width: 375px;
}

.bold {
  font-weight: 700;
}

.page-layout {
  width: 100%;
  min-width: 375px;
}

.page-title {
  font-size: 24px;
  text-align: center;
}

.form-input-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 300px; */
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: 700;
    font-size: 15px;
  }

  input {
    max-width: 355px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 0 10px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.submit-button {
  width: 360px;
  height: 40px;

  background-color: #aca0eb;

  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.submit-button.isLoading {
  background-color: #7f6aee;
}

.link-container {
  margin-top: 12px;
}

.link-container.login {
  text-align: center;
}
