/* Common Style */

:root {
  --body-bg-color: #ffffff;
  --default-color-black: #000000;
  --default-color-white: #ffffff;
  --default-color-grey: #cccccc;
  --default-color-lightgrey: #cccccc40;
  --default-color-grey-hover: #cccccc55;
  --border-color-black: #00000033;
  --post-box-shadow: #cccccc40;
  --fallback-color: #d9d9d9;
  --grey-hover: #e9e9e9;
  --header-height: 56px;
  --layout-max-width: 480px;
  --avatar-size: 36px;
  --z-index-header: 2;

  /* new */
  /* strong color, content color */
  --content: #323542;
  --secondary-text-color: #999999;
  --disabled: #cfd1da;
  --content-strong: #13141b;
  --primary-button-background: #000;
  --primary-button-text: #ffffff;
  --font-bold: 600;
  --font-regular: 400;
}

html {
  background-color: #e2e2e8;
}
body {
  height: 100%;
  line-height: 1.6;
  position: relative;
}

#app {
  max-width: var(--layout-max-width);
  min-height: 100dvh;
  position: relative;
  margin: 0 auto;
  background-color: var(--body-bg-color);
}

.header {
  position: fixed;
  width: 100%;
  max-width: var(--layout-max-width);

  display: flex;
  border-bottom: 1px solid var(--border-color-black);
  justify-content: center;
  z-index: var(--z-index-header);
  top: 0;
  background-color: var(--default-color-white);

  .header-contents-container {
    width: 100%;
    max-width: var(--layout-max-width);
    height: 56px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .header-logo-container {
      height: 100%;
      display: flex;
      align-items: center;
    }
    /*  */
    .header-logo-image-container {
      height: 32px;
      img {
        height: 100%;
      }
    }
  }
  .header-container-right {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-login-button {
    height: 36px;
    padding: 0 16px;
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
    font-weight: var(--font-bold);
    border-radius: 10px;
  }

  .header-back-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;

    .back-button-container {
      width: 20px;
      height: 20px;
    }
  }
}

.bold {
  font-weight: 700;
}

.page-layout {
  width: 100%;
  max-width: var(--layout-max-width);
  min-height: calc(100vh - var(--header-height));
  top: var(--header-height);
  display: flex;
  justify-self: center;
  justify-content: center;
  position: relative;
  background-color: var(--body-bg-color);
  /* border: 1px solid lime; */
}

.page-title {
  font-size: 24px;
  text-align: center;
  line-height: 130%;
}

.page-title.big {
  font-size: 32px;
}

.form-input-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 300px; */
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: 700;
    font-size: 15px;
  }

  input {
    max-width: 355px;
    height: 33px;
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    padding: 0 10px;
  }

  .input-readonly {
    pointer-events: none;
    color: var(--border-color-black);
    background-color: inherit;
    border: none;
    padding-left: 0;
  }
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
  min-height: 24px;
}

.submit-button {
  /* width: 360px; */
  height: 56px;

  background-color: var(--default-color-black);

  border-radius: 8px;
  color: var(--default-color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.submit-button:disabled {
  cursor: not-allowed;
  color: var(--default-color-grey);
}

.submit-button.isLoading {
  /* TODO: fix bg color */
}

.link-container {
  margin-top: 12px;
}

.link-container.login,
.link-container.withdrawal {
  text-align: center;
}

.signup-form-container {
  margin-top: 12px;
}

.signup-form-container.password-check {
  margin-top: 84px;
}
.signup-form-container.password-check__change-password {
  margin-top: 94px;
}

.add-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 24px 0;
}

.add-profile-photo-button {
  position: relative;
  width: 149px;
  height: 149px;
  padding: 0;
  border: 1px solid var(--default-color-grey);
  background-color: var(--default-color-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;

  .plus {
    background-color: var(--default-color-grey);
  }
}

.add-photo-file-input {
  display: none;
}

/* 가로줄 */
.add-profile-photo-button.plus::before,
.add-profile-photo-button.plus::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: black;
  transform: translate(-50%, -50%);
}

/* 가로줄 */
.add-profile-photo-button.plus::before {
  width: 24px;
  height: 1px;
}

/* 세로줄 */
.add-profile-photo-button.plus::after {
  width: 1px;
  height: 24px;
}

.none {
  display: none;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--fallback-color);
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.bg-none {
  background: none;
}

.post-author-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-author {
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.dropdown-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-list {
  width: 220px;
  border: 1px solid var(--default-color-grey);
  border-radius: 16px;
  outline-color: var(--default-color-grey);
  background-color: var(--default-color-white);

  position: absolute;
  top: calc(var(--avatar-size) + 10px);
  right: 0px;

  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;

  li {
    width: 100%;
    align-items: center;
    cursor: pointer;

    div {
      padding: 14px 6px;
      margin: 4px;
      border-radius: 16px;
    }

    button {
      width: 100%;
      height: 100%;
      text-align: start;
    }
    span {
      font-weight: 600;
    }

    div:hover {
      background-color: var(--default-color-grey-hover);
    }
  }
}

.block {
  display: block;
}

.file-input-button {
  width: 68px;
  height: 29px;
  border-radius: 4px;
  border-width: 1px;
  opacity: 1;
  top: 705px;
  left: 689px;
  border: 1px solid black;
}
