/* Login Page Styles */
.login-page {
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 67px;
  }

  .login-container {
    text-align: center;

    input {
      background-color: rgb(245, 245, 245);
      border: 1px solid rgba(0, 0, 0, 0);
      padding: 16px;
      line-height: 21px;
      font-size: 15px;
      height: 55px;
    }
  }
}
