/* Login Page Styles */
.login-page {
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 67px;
  }

  .login-container {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
}
