.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--default-color-white);
  border-radius: 10px;
  padding: 50px;
  width: 408px;
  animation: fadeIn 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.modal-title {
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  font-weight: 700;
}

.modal-description {
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.modal-actions button {
  padding: 10px 46px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  line-height: 100%;
}

.positive-button {
  background: var(--button-bg-color);
  color: var(--default-color-black);
}

.negative-button {
  background: var(--default-color-black);
  color: var(--default-color-white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
