/* Post list page  */

.post-list-page {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  .introduction {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .add-post-button-container {
    width: 100%;
    margin-top: 24px;
    padding-right: 22px;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .add-post-button {
    width: 138px;
    height: 39px;
    border: none;
    background-color: var(--default-color-black);
    color: var(--default-color-white);

    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    color: var(--default-color-white);
    font-weight: 700;
  }

  .post-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .post {
    display: grid;
    grid-template-columns: 48px minmax(0, 1fr);
    cursor: pointer;
    padding: 12px;
    border-top: var(--default-color-lightgrey) 1px solid;

    .post-avatar-container {
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
      grid-row-end: span 2;
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .post-info-container {
      grid-column-start: 2;
      grid-row-start: 1;
      height: 21px;

      .post-info-container-row {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      time {
        font-size: 15px;
        color: var(--secondary-text-color);
      }
    }

    .post-title {
      padding-top: 12px;
    }

    .post-content-container {
      grid-row-end: span 3;
      grid-column-start: 2;
      grid-row-start: 2;

      .post-content {
        display: -webkit-box;
        font-size: 15px;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .post-image-container {
        width: 100%;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .post-stats {
      display: flex;
      margin-top: 10px;
      font-size: 14px;
      gap: 10px;
    }
  }
}
