.post-detail-page {
  width: 100%;
  max-width: var(--layout-max-width);
  justify-self: center;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .post-basic-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 12px;
  }

  .post-title {
    /* font-size: 24px; */
    line-height: 130%;
  }

  .post-content {
    padding: 0 12px;
  }

  .post-author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-author-container-button {
    padding: 2px 12px;
    border-radius: 8px;
    background: ã…none;

    font-size: 15px;
    font-weight: 400;
    line-height: 157%;
  }

  .divider {
    height: 1px;
    background-color: var(--default-color-black);
    opacity: 0.16;
  }

  .post-content-image {
    width: 100%;
    height: 306px;
    /* background-color: var(--fallback-color); */
  }

  .post-content-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .post-info-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .dropdown-list {
    top: 25px;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;

    font-weight: 400;
    font-size: 15px;
    line-height: 141%;
    letter-spacing: 0%;
  }

  .post-stats {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    /* margin-bottom: 30px; */
    padding-left: 12px;
  }

  .post-stats-item {
    padding: 0 12px;

    height: 36px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* height: 77px; */
    border-radius: 16px;
    /* background-color: var(--fallback-color); */
    font-weight: 400;

    .item-content {
      line-height: 13px;
    }
  }

  .post-comment-container {
    margin: 32px 0 24px 0;
    background-color: var(--default-color-white);
    border-radius: 16px;
  }
  .post-comment-textarea-wrapper {
    padding: 24px 24px 0 24px;
  }

  .post-comment-textarea {
    width: 100%;
    height: 94px;
    resize: none;
    border: none;
  }

  .post-comment-textarea:focus {
    outline: none;
  }

  .post-comment-submit-button {
    width: 138px;
    height: 39px;
    border: none;
    border-radius: 16px;
    padding: 7px 0;
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
  }

  .post-comment-submit-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 6px 8px;
    padding-right: 8px;
  }

  .post-comment-submit-button > span {
    font-weight: 600;
    font-size: 16px;
    color: var(--default-color-white);
    line-height: 157%;
    letter-spacing: 0%;
    text-align: center;
  }

  .post-comment-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .post-comment {
    padding: 0 24px;
  }

  .post-author-container.right.post-comment {
    margin-top: 21px;
  }

  .post-comment-content {
    font-weight: 400;
    font-size: 15px;
    line-height: 141%;
    padding-left: 46px;
  }
}
