/* Post list page  */

.post-list-page {
  width: 100%;
  max-width: var(--layout-max-width);
  justify-self: center;
  margin-top: 40px;
}

.post-list-page .introduction {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.post-list-page .introduction strong {
  font-weight: 700;
}

.add-post-button-container {
  width: 100%;
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.add-post-button {
  width: 138px;
  height: 39px;
  border: none;
  background-color: var(--button-bg-color);

  &:hover {
    background-color: var(--button-bg-color-hover);
  }
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  color: var(--default-color-white);
  font-weight: 700;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.post {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 3px 4px 4px var(--post-box-shadow);
  display: flex;
  flex-direction: column;
  line-height: 130%;
  cursor: pointer;
}

.post-top {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-bottom: 1px solid var(--default-color-grey);
  padding: 18px 24px 24px;
}

.post-bottom {
  padding: 16px 24px;
}

.post-title {
  font-size: 24px;
  line-height: 130%;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.post-info.left {
  display: flex;
  gap: 10px;
}
