/* Sign Up Page Styles */

.signup-page {
  /* background-color: red; */
  height: calc(100vh - var(--header-height));
  min-height: 860px;

  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;
}

.signup-button {
  margin-top: 4px;
}
