/* Sign Up Page Styles */

.signup-page {
  min-height: 860px;

  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  .submit-button {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    color: var(--primary-button-text);
    background-color: var(--disabled);
    border-radius: 0;
  }

  .submit-button.active {
    background-color: var(--primary-button-background);
  }

  .profile-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }

  .error-message {
    height: 15px;
  }
}
