@import "./reset.css";
@import "./common.css";
@import "./login.css";
@import "./post-list.css";
@import "./sign-up.css";

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;

  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgba(244, 245, 247, 1);
}

#app {
  height: calc(100vh - 104px);
}
