.post-detail-page {
  width: 100%;
  max-width: var(--layout-max-width);
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .post-basic-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 12px;
  }

  .post-title {
    line-height: 130%;
  }

  .post-content {
    padding: 0 12px;
  }

  .post-author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-author-container-button {
    padding: 2px 12px;
    border-radius: 8px;
    background: ã…none;

    font-size: 15px;
    font-weight: 400;
    line-height: 157%;
  }

  .divider {
    height: 1px;
    background-color: var(--default-color-black);
    opacity: 0.16;
  }

  .post-content-image {
    width: 100%;
    height: 306px;
  }

  .post-content-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .post-info-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .dropdown-list {
    top: 25px;
    z-index: 1;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;

    font-weight: 400;
    font-size: 15px;
    line-height: 141%;
    letter-spacing: 0%;
  }

  .post-stats {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    padding-left: 12px;
  }

  .post-stats-item {
    padding: 0 12px;

    height: 36px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 16px;
    font-weight: 400;

    .item-content {
      line-height: 13px;
    }
  }

  .post-comment-container {
    margin: 32px 0 24px 0;
    padding: 0 24px;
  }

  .post-comment-textarea-wrapper {
    border-radius: 16px;
    border: 1px solid var(--border-color-black);
    padding: 12px 16px;
  }

  .post-comment-textarea {
    width: 100%;
    height: auto;
    min-height: 40px;
    overflow: hidden;
    resize: none;
    border: none;
  }

  .post-comment-textarea:focus {
    outline: none;
  }

  .post-comment-submit-button-container {
    display: flex;
    justify-content: flex-end;
  }

  .post-comment-submit-button {
    border: none;
    border-radius: 16px;
    padding: 0 20px;
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
    background-color: var(--disabled);
  }
  .post-comment-submit-button.active {
    background-color: var(--primary-button-background);
  }

  .post-comment-submit-button > span {
    font-weight: 600;
    font-size: 12px;
    color: var(--default-color-white);
    line-height: 250%;
    letter-spacing: 0%;
    text-align: center;
  }

  .post-comment-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .comment-item {
    padding: 12px;
  }
  .comment-item:not(:last-child) {
    border-bottom: 1px solid var(--default-color-grey);
  }

  .post-author-container.right.post-comment {
    margin-top: 21px;
  }

  .comment-content {
    margin-top: 8px;
    padding-left: 12px;
  }

  .post-comment-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
  }
}
