@import "./reset.css";

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;

  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgba(244, 245, 247, 1);
}

#app {
  height: calc(100vh - 104px);
}

/* Common Style */

.header {
  padding: 36px 0px;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  /* position: fixed; */
  width: 100%;
  min-width: 375px;
}

.bold {
  font-weight: 700;
}

.page-layout {
  width: 100%;
  min-width: 375px;
}

.page-title {
  font-size: 24px;
  text-align: center;
}

.form-input-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 300px; */
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: 700;
    font-size: 15px;
  }

  input {
    max-width: 355px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 0 10px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.submit-button {
  width: 360px;
  height: 40px;

  background-color: #aca0eb;

  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.submit-button.isLoading {
  background-color: #7f6aee;
}

.link-container {
  margin-top: 12px;
}

.link-container.login {
  text-align: center;
}

/* Login Page Styles */
.login-page {
  height: calc(100vh - 104px);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 67px;
  }

  .login-container {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
}

/* Sign Up Page Styles */

.signup-page {
  /* background-color: red; */
  height: calc(100vh - 104px);
  min-height: 860px;

  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  margin-top: 12px;
}

.add-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 24px 0;
}

.add-photo-button {
  position: relative;
  width: 149px;
  height: 149px;
  border: 1px solid rgba(196, 196, 196, 1);
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

/* 가로줄 */
.add-photo-button::before,
.add-photo-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: black;
  transform: translate(-50%, -50%);
}

/* 가로줄 */
.add-photo-button::before {
  width: 24px;
  height: 1px;
}

/* 세로줄 */
.add-photo-button::after {
  width: 1px;
  height: 24px;
}

.signup-button {
  margin-top: 4px;
}

/* Post list page  */

.post-list-page {
  width: 100%;
  max-width: 600px;
  justify-self: center;
  margin-top: 40px;
}

.post-list-page .introduction {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.post-list-page .introduction strong {
  font-weight: 700;
}

.add-post-button-container {
  width: 100%;
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.add-post-button {
  width: 138px;
  height: 39px;
  border: 1px solid rgba(172, 160, 235, 1);
  background-color: rgba(172, 160, 235, 1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.post-list {
  height: 200px;
  margin-top: 20px;
}

.post {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 3px 4px 4px rgba(204, 204, 204, 0.25);

  display: flex;
  flex-direction: column;
  line-height: 130%;
}

.post-top {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-bottom: 1px solid rgba(204, 204, 204, 1);
  padding: 18px 24px 24px;
}

.post-bottom {
  padding: 16px 24px;
}

.post-title {
  font-size: 24px;
  line-height: 130%;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.post-info.left {
  display: flex;
  gap: 10px;
}

.post-author-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-avatar {
  width: 36px;
  height: 36px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
}

.post-author {
  font-size: 15px;
}
