@import "./reset.css";

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;

  box-sizing: border-box;
}

body {
  height: 100%;
}

#app {
  height: calc(100vh - 104px);
}

/* Common Style */

.header {
  padding: 36px 0px;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  /* position: fixed; */
  width: 100%;
  min-width: 375px;
}

.page-layout {
  width: 100%;
  min-width: 375px;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form-input-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 300px; */
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: 700;
    font-size: 15px;
  }

  input {
    max-width: 355px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 0 10px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.submit-button {
  width: 360px;
  height: 40px;

  background-color: #aca0eb;

  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.submit-button.isLoading {
  background-color: #7f6aee;
}

.link-container {
  margin-top: 12px;
}

.link-container.login {
  text-align: center;
}

/* Login Page Styles */
.login-page {
  height: calc(100vh - 104px);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 67px;
  }

  .login-container {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
}

/* Sign Up Page Styles */

.signup-page {
  /* background-color: red; */
  height: calc(100vh - 104px);
  min-height: 860px;

  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  margin-top: 12px;
}

.add-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 24px 0;
}

.add-photo-button {
  position: relative;
  width: 149px;
  height: 149px;
  border: 1px solid rgba(196, 196, 196, 1);
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

/* 가로줄 */
.add-photo-button::before,
.add-photo-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: black;
  transform: translate(-50%, -50%);
}

/* 가로줄 */
.add-photo-button::before {
  width: 24px;
  height: 1px;
}

/* 세로줄 */
.add-photo-button::after {
  width: 1px;
  height: 24px;
}

.signup-button {
  margin-top: 4px;
}
