@import "./reset.css";

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;
}

#app {
  height: calc(100vh - 104px);
}

.header {
  padding: 36px 0px;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.login-page {
  /* width: 400px; */
  /* margin: 100px auto 0 auto; */
  /* padding: 32px; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 300px; */
  }

  .login-container {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: bold;
    font-size: 12px;
  }

  input {
    padding: 4px 6px;
  }
}

.submit-button {
  width: 360px;
  height: 40px;

  background-color: #aca0eb;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    background-color: #e6e2ff;
    cursor: not-allowed;
  }
}

.signup-container {
  /* background-color: red; */
  margin-top: 10px;
}
