@import "./reset.css";

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;
}

body {
  height: 100%;
}

#app {
  height: calc(100vh - 104px);
}

.header {
  padding: 36px 0px;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 41px;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 67px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 300px; */
  }

  .login-container {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
  }
}

.input-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;

  label {
    font-weight: bold;
    font-size: 12px;
  }

  input {
    max-width: 355px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 4px 10px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.submit-button {
  width: 360px;
  height: 40px;

  background-color: #aca0eb;

  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.submit-button.isLoading {
  background-color: #7f6aee;
}

.signup-container {
  margin-top: 12px;
}

.post-list-button {
  background-color: #aca0eb;

  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
}
