@import "tailwindcss";

@theme {
  /* font */
  --font-base: system-ui, "Inter", "Pretendard", sans-serif;

  /* color */
  --color-blue: #1b9ae5; /* Key Color */

  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-base-grey: var(--color-gray-200);
  --color-fallback: #fafafa;

  --color-bg-primary: #000000;
  --color-bg-secondary: #f7f7f9;

  --color-button-bg-primary: #000000;
  --color-button-bg-secondary: #ffffff;
  --color-button-text-primary: #ffffff;
  --color-button-text-secondary: #000000;

  --color-text-primary: #000000;
  --color-text-secondary: #999999;

  --color-button-bg-hover: rgba(0, 0, 0, 0.035);

  --color-border-grey: #ebebeb;
  --color-input-bg-filled: #f7f7f8;

  /* Size */
  --height-header-height: 60px;
  --height-bottom-nav-height: 50px;
  --maxwidth-app-layout: 640px;
}

body {
  background-color: var(--color-base-grey);
  font-family: var(--font-base);
  color: var(--color-text-primary);
  line-height: 1.4;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  max-width: var(--maxwidth-app-layout);
  margin: 0 auto;
  background-color: var(--color-base-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
